body{
    height:700px ;
}
.form {
    width: 1920px;
    height: 600px;
}

.container {
    width: 1920px;
    height: 750px;
    background-color: #FFFFFF;
}

.header {
    width: 1920px;
    height: 56px;
    background-color: #212529;
    font-size: 18px;
    margin-left: -8px;
    margin-top: -10px;
}

.header-container {
    width: 1320px;
    height: 40px;
    background-color: #212529;
    color: #FFFFFF;
    margin-left: 100px;
    display: flex;
    gap: 900px;
    align-items: center;
}

.header-right {
    display: flex;
    gap: 20px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.main {
    width: 1320px;
    height: 725px;
    background-color: #FFFFFF;
    margin-left: 90px;
    font-size: 18px;
}

.main-top {
    display: flex;
    gap: 280px;
}

.container-left {
    width: 600px;
}

.container-left button {
    background-color: #0D6EFD;
    width: 145px;
    height: 35px;
    border: 1px;
    border-radius: 6px;
    color: white;
    margin-top: 30px;
}

.line1 {
    display: flex;
    gap: 20px;
}

.line1 button {
    width: 145px;
    height: 30px;
    border: 1px solid #6C757D;
    border-radius: 6px;
    margin-top: 16px;
    background-color: #00000000;
}

.line2 {
    display: flex;
    gap: 20px;
}

.box1 {
    display: flex;
    gap: 8px;
    line-height: 4px;
}

.bgr-blue {
    background-color: rgb(57, 57, 215);
    width: 38px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #FFFFFF;
    margin-top: 10px;

}

.fontSize {
    font-size: 14px;
}

.box2 {
    display: flex;
    gap: 8px;
    line-height: 4px;
}

.bgr-violet {
    background-color: violet;
    width: 38px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #FFFFFF;
    margin-top: 10px;
}

.container-right img {
    width: 40px;
    margin-top: 10px;
}

.line3 {
    margin-top: 40px;
}

.line3 select {
    width: 145px;
    height: 35px;
    padding-right: 8px;
    border-radius: 6px;
    border: 1px solid #DEE2E6;
}

.line3 input {
    width: 145px;
    height: 35px;
    padding-left: 8px;
    border-radius: 6px;
    border: 1px solid #DEE2E6;
}

table {
    width: 1280px;
    border-collapse: collapse;
}

.delete-task-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    width: 80px;
    height: 32px;
}

.edit-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    width: 80px;
    height: 32px;
}

.center {
    text-align: center;
}

.blue {
    background-color: #0DCAF0;
    border: 1px;
    border: 6px;
    padding: 6px;
    color: #FFFFFF;
}

.yellow {
    background-color: #FFA500;
    border: 1px;
    border: 6px;
    padding: 6px;
    color: #FFFFFF;
}

.red {
    background-color: #DC3545;
    border: 1px;
    border: 6px;
    padding: 6px;
    color: #FFFFFF;
}
.green {
    background-color: #198754;
    border: 1px;
    border: 6px;
    padding: 6px;
    color: #FFFFFF;
}

.footer {
    width: 1480px;
    height: 70px;
    margin-top: 30px;
    background-color: #212529;
    font-size: 18px;
    margin-left: -8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: white;
    margin-left: 500px;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    font-size: 24px;
    cursor: pointer;
}

.modal-body label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.modal-body input,
.modal-body select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

/* Modal sửa  */
.modal-footer {
    display: flex;
    gap:10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.cancel-btn {
    background: #ccc;
    border-radius: 6px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.save-btn {
    background: blue;
    border-radius: 6px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Modal xóa */
.delete-task-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

/* Nội dung popup */
.delete-task-popup-content {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 570px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Header */
.delete-task-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-task-popup-header h2 {
    margin: 0;
}

.close-delete-task-popup {
    cursor: pointer;
    font-size: 20px;
}

/* Body */
.delete-task-popup-body {
    margin-top: 10px;
    font-size: 16px;
}

/* Footer */
.delete-task-popup-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.cancel-delete-task-btn {
    background: #6c757d;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirm-delete-task-btn {
    background: #dc3545;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-task-popup.show {
    display: flex;
}

/* Modal thêm nhiệm vụ */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    margin-left:500px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-popup {
    font-size: 24px;
    cursor: pointer;
}

.popup-body label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.popup-body input,
.popup-body select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.popup-footer {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.dismiss-btn {
    background: #ccc;
    border-radius: 6px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.confirm-btn {
    background: blue;
    border-radius: 6px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}